<% include ../partials/header.ejs %>

   <div class="container">
       <div class="row">
           <div class="col-md-offsetr-3 col-md-6">
            <h1><%= title%></h1>
            
            <br>
            <table class="table table-border table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">First Name</th>
                    <th class="text-center">Last Name</th>
                    <th class="text-center">User Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Display Name</th>
                    <th class="text-center">Feed Back</th>
                    
                </tr>
                <!-- Repeatable Templet-->
                <% for(let count = 0; count < contactList.length; count ++){%>
                <tr>
                    <td class="text-center"><%= contactList[count].firstname %></td>
                    <td class="text-center"><%= contactList[count].lastname %></td>
                    <td class="text-center"><%= contactList[count].username %></td>
                    <td class="text-center"><%= contactList[count].email %></td>
                    <td class="text-center"><%= contactList[count].displayName %></td>
                    <td class="text-center"><%= contactList[count].feedback %></td>
                    
                </tr>
                <% }%>    
            </table>
           </div>
       </div>
   </div>
      
<% include ../partials/footer.ejs %>